<h1><%=@user.user%></h1>
<h1><%=@user.password%></h1>
<h1><%=@user.name%></h1>
<h1><%=@user.secondname%></h1>
<h1><%=@user.lastname%></h1>
<h1><%=@user.sec_lastname%></h1>
<h1><%=@user.identification%></h1>
<h1><%=@user.number_identification%></h1>
<h1><%=@user.age%></h1>







